<section class="section section-default mt-none mb-xl">
	<div class="home-concept">
		<div class="container">
			<div class="row center">
				<span class="sun"></span>
				<span class="cloud"></span>
				<% animationDelay = 0
				data.process.each do | key, value |
				 if value.md == 4 %>
					<div class="col-md-4 col-md-offset-1">
						<div class="project-image">
							<div id="fcSlideshow" class="fc-slideshow">
								<ul class="fc-slides">
									<% value.image.each do | imagePath | %>
										<li><img class="img-responsive" src="<%= imagePath %>" alt="" /></li>
									<% end %>
								</ul>
							</div>
							<strong class="text-color-dark pt-xl">and so much more...</strong>
						</div>
					</div>
				<% else %>
					<div class="col-md-2">
						<div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="<%= animationDelay %>">
							<img src="<%= value.image%>" alt="<%= key %>" />
							<strong class="text-color-dark mb-xs"><%= key %></strong>
							<p class="text-color-primary mb-xl"><%= value.benefit %></p>
						</div>
					</div>
				 <% end 
				 animationDelay = animationDelay + 200
				end %>
			</div>
		</div>
	</div>
</section>