<section class="section section-primary section-primary-scale-2 section-center section-no-border mt-none p-sm" id="demos">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<% projects = Hash.new()
					data.projects.each do | key, value |
						type = value.projecttype
						if not projects.has_key?(type)
							projects[type] = type
						end
					 end %>
				<% if projects.count > 1 %>
					<ul class="nav nav-pills sort-source sort-source-style-2" data-sort-id="portfolio" data-option-key="filter">
						<li data-option-value="*" class="active"><a href="#">SHOW ALL</a></li>
						<% projects.each do |key, value | %>
							<li data-option-value=".<%= key.delete(' ') %>"><a href="#"><%= key %></a></li>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
</section>
<ul class="portfolio-list sort-destination full-width-spaced mb-xl" data-sort-id="portfolio">
	<% data.projects.each do | key, value | %>
		<li class="col-md-3 col-sm-6 col-xs-12 isotope-item <%= value.projecttype.delete(' ') %>">
			<div class="portfolio-item center">
				<a href="<%= value.livelink %>" class="text-decoration-none block-link pt-md">
					<div class="thumb-info-ribbon">
						<span><%= value.projecttype %></span>
					</div>
					<span class="thumb-info thumb-info-preview thumb-info-preview-long mb-md">
						<span class="thumb-info-wrapper">
							<span class="thumb-info-image" data-original="<%= value.thumbnail %>" data-plugin-lazyload></span>
						</span>
					</span>
					<h5 class="mb-xs"><%= key %></h5>
					<p class="font-size-xs line-height-xs"><%= value.services.join(", ") %></p>
				</a>
			</div>
		</li>
	<% end %>
</ul>