---
title: false
---

<div class="body">
	<div role="main" class="main" id="home">
		<%= partial "partials/features/slider" %>
		<%= partial "partials/features/project" %>
		<%= partial "partials/features/word-rotator" %>
		<%= partial "partials/features/our-features" %>
		<%= partial "partials/features/parallax" %>
		<%= partial "partials/features/team" %>
		<%= partial "partials/features/parallax-2" %>
		<%= partial "partials/features/googlemaps" %>
		<%= partial "partials/features/contact-us" %>
	</div>
</div>